# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry

# SSH Keys
*.pem
*.key

# AWS Credentials
credentials
config

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
CREDENTIALS.md
