# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/.terraform.tfstate.lock.info

# Ansible
**/*.retry
**/ansible.log

# SSH Keys
**/*.pem
**/.ssh/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
